.vs
[Bb]in
Gerenciamento PetShop/[Oo]bj
Gerenciamento PetShop/[Uu]ser
Gerenciamento PetShop/[Ss]uo
Gerenciamento PetShop/[Uu]serosscache
Gerenciamento PetShop/[Ss]ln.docstates
Gerenciamento PetShop.Testes/[Oo]bj
*.txt
Gerenciamento PetShop/Logs